.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #448fb8;
  margin: -0.5rem;
  padding: 1rem;

  a {
    display: inline-block; 
    text-decoration: inherit;
    color: #000;
    &:hover {
      color: #fff;
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  .home {
    background-color: #fff;
  }

  .profile {
    background-color: #448fb8;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

form {
  margin: 2rem;
  .name {
    display: flex;
    justify-content: space-between;
    input {
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: 2px 2px 5px rgba(31, 15, 15, 0.1);
      width: 100%;
    }
  }
  .skills {
    input {
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: 2px 2px 5px rgba(31, 15, 15, 0.1);
      width: 100%;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
  }

}

h1 {
  margin: 2rem;
  padding: -0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  text-decoration: inherit;
}

h3 {
  margin: 0.5rem;
  padding: -0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
}

section a {
  color:#448fb8;
  margin: 2rem;
  padding: -0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  text-decoration: inherit;
  &:hover {
    color: #356680;
  }
}

.button {
  padding: 0.5rem;
  display: flex;
  justify-content: center;

  button {
    border-radius: 4px;;
    background-color:#448fb8;
    width: 20%;
  }
}

.card-list {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  .card-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 5rem;
    padding: 1rem;
    background-color:#448fb8;
    border: 2px solid #bcb0b0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(20, 1, 1);
    &:hover {
      transform: translateY(-0.2rem);
      background-color: #356680;
      color: #fff;
    }
  }
}